<div class="row mt-5">
    <div class="col-12">
        <h2 class="text-center">Error</h2>
    </div>
</div>
<div class="row mt-5">
    <div class="col-6 offset-3">
        <div class="alert alert-primary" role="alert">
            {{message}}
        </div>
    </div>
</div>
<div class="row mt-5" style="text-align: center;">
    <p> You will be redirected in <span id="countdowntimer">3 </span> seconds...</p>
</div>

<script type="text/javascript">   
    setTimeout(function () {
        window.location = window.parent.location.href; //doesn't work because of route.get("/") and redirects to "/"
    }, 2850);
    var timeleft = 3;
    var downloadTimer = setInterval(function(){
    timeleft--;
    document.getElementById("countdowntimer").textContent = timeleft;
    if(timeleft <= 0)
        clearInterval(downloadTimer);
    },1000);
</script>
