<div class="row mt-5">
    <div class="col-12">
        <h2 class="text-center">Error</h2>
    </div>
</div>
<div class="row mt-5">
    <div class="col-6 offset-3">
        <div class="alert alert-primary" role="alert">
            {{message}}
        </div>
    </div>
</div>
<div class="row mt-5">
    <p>You will be redirected in </p>
    <p id="seconds"></p> 
    <p> seconds...</p>
</div>

<script>
    setTimeout(function () {
        window.location = window.location.origin;
    }, 3000)
    setTimeout(function () {
        document.getElementById("seconds").innerHTML = "3";
    }, 1000)
    setTimeout(function () {
        document.getElementById("seconds").innerHTML = "2";
    }, 1000)
    setTimeout(function () {
        document.getElementById("seconds").innerHTML = "1";
    }, 1000)
</script>